[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/google/protobuf.git
	branch = v3.0.0-beta-2
[submodule "lib/stan"]
	path = lib/stan
	url = https://github.com/stan-dev/stan.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
